@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

:root {
	--dark: #212529;
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behaviour: smooth;
}

.logo-text {
	font-family: "Great Vibes", cursive;
}

.component{
	  font-family: 'Akaya Telivigala', cursive;
	  font-weight: bold;
	  color: #fff;
}

.play {
	font-size: 3.5rem;
  }
  
  .play:hover {
	transform: scale(1.2);
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
